<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="item">
   <mat-list class="child-2">
  <mat-card-title><h2>Details: {{item.name | uppercase}}</h2></mat-card-title>
  <div><span><strong>Id:</strong></span>{{item.id}}</div>
  <div>
    <label><strong>Name:</strong><input [(ngModel)]="item.name" placeholder="name"/></label>
  </div>
  <div><span><strong>Intelligence: </strong>{{item.intelligence}}</span></div>
  <div><span><strong>Agility: </strong>{{item.agility}}</span></div>
  <div><span><strong>Attackpower: </strong>{{item.attackpower}}</span></div>
  <a mat-button (click)="sendMessage()" color="warn"><span class="material-icons">add_shopping_cart</span></a>
  <a mat-button (click)="clearMessage()" color="warn"><span class="material-icons">delete_forever</span></a>
  </mat-list>
</div>
