<div class="container" fxLayout fxLayoutAlign="left">
  <nav>
  <mat-card-title fxLayoutAlign="center"><a routerLink="/">{{title}}</a></mat-card-title>
  <mat-card-content>
  <a mat-raised-button routerLink="/chars"><span class="material-icons">account_box</span>Chars</a>
  <a mat-raised-button routerLink="/shop"><span class="material-icons">storefront</span>Items</a>
  <button mat-raised-button (click)="toggle()" id="bt"><span class="material-icons">local_mall</span>{{buttonName}}</button>
<div *ngIf="show">
  <app-inventory></app-inventory>
</div>
<router-outlet></router-outlet>
</mat-card-content>
</nav>
</div>
